<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.goskyer.mapping.PostMapper">
    <resultMap id="blogResultMap" type="org.goskyer.domain.Post" autoMapping="true">
        <id column="post_id" property="postId"/>

        <association property="user" javaType="org.goskyer.domain.UserInfo" autoMapping="true">
            <id property="userInfoId" column="user_info_id"/>
        </association>

        <collection property="tags" column="tag" ofType="java.lang.String">
            <result column="tag"/>
        </collection>

    </resultMap>

    <select id="selectByPostId" resultMap="blogResultMap">

        SELECT
            post.*,
            tags.tag,
            user_info.*
        FROM post
            LEFT JOIN tag_post_total
                ON post.post_id = tag_post_total.post_id
            LEFT JOIN tags ON tag_post_total.tag_id = tags.id
            LEFT JOIN user_info ON post.auth_id = user_info.user_id
        WHERE post.post_id = #{postId}

    </select>

    <select id="selectByUserId" resultMap="blogResultMap">

        SELECT
            post.*,
            tags.tag,
            user_info.*
        FROM post
            LEFT JOIN tag_post_total
                ON post.post_id = tag_post_total.post_id
            LEFT JOIN tags ON tag_post_total.tag_id = tags.id
            LEFT JOIN user_info ON post.auth_id = user_info.user_id
        WHERE post.auth_id = #{userId}

    </select>

    <insert id="insertPost" parameterType="org.goskyer.domain.Post" useGeneratedKeys="true"
            keyProperty="postId">

        INSERT INTO post (title, auth_id, md) VALUES
            (#{title}, #{authId}, #{md})

    </insert>

    <insert id="insertTagPostTotal" useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO tag_post_total (post_id, tag_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.postId}, #{item.tagId})
        </foreach>

    </insert>


    <delete id="deletePost">

        DELETE FROM post
        WHERE post_id = #{postId}

    </delete>


</mapper>

